.jumbotron {
  padding-top: 6rem;
  background-color: #b9e0eb;
}

#project {
  background-color: #b9e0eb;
}

section {
  padding-top: 4rem;
}

.img-skill {
  width: 100%;
}

h2 {
  color: #898989;
  font-family: monospace;
}
