html {
  width: 100%;
}

/* Navbar */
.navbar-brand,
.display-4 {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 350;
  color: #898989;
}

.nav-link,
.contact {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

/* Section */
section {
  padding-top: 4rem;
}
h2 {
  color: #898989;
  font-family: "Kanit", sans-serif;
  font-style: italic;
}

/* Jumbotron */
.jumbotron {
  padding-top: 6rem;
  background-color: #b9e0eb;
}
.lead {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  color: #898989;
  font-size: 2em;
}

/* Project */
.project {
  background-color: #b9e0eb;
}

/* Skill */
#skill h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
}

.img-skill {
  width: 100%;
}

/* Media */
@media (max-width: 992px) {
  .navbar {
    text-align: center;
  }
}
